.toggle-theme {
	display: grid;
	gap: var(--spacing-lg);
	place-items: center;
}

.toggle-theme__header {
	padding: var(--spacing-lg);
	border: 2px solid var(--color-border);
	border-radius: var(--radius-sm);
}

.toggle-theme__button {
	padding: var(--spacing-sm) var(--spacing-md);
	text-transform: capitalize;
}

.bg-color {
	background-color: var(--color-bg-accent);
}
