.todo-list {
	display: grid;
	gap: var(--spacing-sm);
	place-items: center;
}

.todo-list__form {
	display: flex;
	gap: var(--spacing-sm);
}

.todos {
	display: grid;
	gap: var(--spacing-sm);
	margin-top: var(--spacing-md);
}
.todos-item {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: var(--spacing-md);
}

.todos-item-text {
	font-size: var(--text-lg);
	font-weight: 400;
	text-transform: capitalize;
}

.line-through {
	text-decoration: line-through;
}
